<nav  class="transparent-button  navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a style="color:white !important" class="navbar-brand" href="#">Lucis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input  class="transparent-button form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<br/>
<div style="width: 10%;">
  <li class=" transparent-button    list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Rodzina</div>
    </div>
    <span class="badge text-bg-primary rounded-pill">7</span>
  </li>
  <li class=" transparent-button list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
    </div>
    <span class="badge text-bg-primary rounded-pill">2</span>
  </li>
  <li class="transparent-button list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Subheading</div>
    </div>
    <span class="badge text-bg-primary rounded-pill">4</span>
  </li>
</div>

<br/>
<!-- <div>
<button style="margin-left: 10px;" class="transparent-button">Kliknij mnie</button>
<button style="margin-left: 10px;" class="transparent-button">Kliknij mnie</button>
<button style="margin-left: 10px;" class="transparent-button">Kliknij mnie</button>
<button style="margin-left: 10px;" class="transparent-button">Kliknij mnie</button>
</div> -->